*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* style of header */
header{
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 40px;
}

/* nav of header */
header > nav{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
}
header > nav > h1{
    color: #131313;
    font-size: 2.5rem;
}
header > nav > ul{
    display: flex;
    list-style: none;
}
header > nav > ul > li{
    margin-right: 20px;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* title-description-button-banner style */
.title-description-button-banner{
    width: 100%;
    margin: 60px auto;
    text-align: center;
}
.title-description-button{
    width: 50%;
    margin: 0 auto;
}
.title-description > h1{
    font-size: 3.5rem;
    line-height: 3.4rem;
    color: #131313;
}
.title-description > p{
    margin-top: 20px;
    color: #727272;
    font-weight: 400;
}
.title-description > button{
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}


/* main section style  */
main{
    max-width: 1340px;
    margin: 0 auto;
}

/* teams-features-container style */
.teams-features-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features{
    padding-left: 70px;
    padding-right: 70px;
    align-items: start;
}
.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.features-text{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    color: #727272;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}
.features > button{
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
.banner{
    margin-top: 20px;
}
.hide{
    display: none;
}

/* Some Facts section style */
.some-facts-section{
    margin-top: 90px;
}
.awards-winnings-p{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 25px;
}
.some-title{
    font-size: 2rem;
    font-weight: 800;
}
.some-facts-section-description{
    width: 490px;
    color: #727272;
    margin-top: 15px;
}
.awards-child{
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.awards-child > img{
    padding: 20px;
}
.awards-child > h2{
    font-size: 2rem;
    color: #131313e0;
    letter-spacing: 1px;
}
.awards-child > h4{
    color: #424242;
    font-size: 20px;
    margin-top: 10px;
}
















/* 576 (mobile) media query responsive */
@media screen and (max-width: 576px){
    header > nav{
        flex-direction: column;
        align-items: center;
    }
    header > nav > ul{
        margin-top: 20px;
    }
    .title-description > h1{
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
    }
    .title-description > button{
        width: 180px;
        margin: 20px auto;
    }
    .banner > img{
        width: 100%;
    }


    /* teams-features-container */
    .teams-features-container{
        flex-direction: column-reverse;
        width: 90%;
        margin: 0 auto;
    }
    .team-description{
        width: 90%;
    }
    .features{
        justify-content: center;
    }
    .teams-title{
        width: 100%;
    }
    .teams-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-image > img{
        width: 90%;
        margin: 0 auto;
    }
    .some-title{
        text-align: center;
    }
    .awards-winnings-p{
        flex-direction: column;
    }
    .awards-child{
        margin-top: 20px;
    }
    .some-facts-section-description{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}












/* tablet of medium device media query style */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        width: 100%;
    }
    .title-description{
        width: 100%;
    }
    .banner > img{
        width: 100%;
    }
    .teams-features-container{
        flex-direction: column;
        
    }
    .features{
        margin-top: 20px;
    }
    .awards-winnings-p{
        flex-wrap: wrap;
    }
    .some-facts-section{
        margin: 30px;
    }
    
}