*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* style of header */
header{
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 40px;
}

/* nav of header */
header > nav{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
}
header > nav > h1{
    color: #131313;
    font-size: 2.5rem;
}
header > nav > ul{
    display: flex;
    list-style: none;
}
header > nav > ul > li{
    margin-right: 20px;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* title-description-button-banner style */
.title-description-button-banner{
    width: 100%;
    margin: 60px auto;
    text-align: center;
}
.title-description-button{
    width: 50%;
    margin: 0 auto;
}
.title-description > h1{
    font-size: 3.5rem;
    line-height: 3.4rem;
    color: #131313;
}
.title-description > p{
    margin-top: 20px;
    color: #727272;
    font-weight: 400;
}
.title-description > button{
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}


/* main section style  */
main{
    max-width: 1340px;
    margin: 0 auto;
}

/* teams-features-container style */
.teams-features-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features{
    padding-left: 70px;
    padding-right: 70px;
    align-items: start;
}
.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.features-text{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    color: #727272;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}
.features > button{
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}









/* 576 (mobile) media query responsive */
@media screen and (max-width: 576px){
    header > nav{
        flex-direction: column;
        width: 100%;
    }
    header > nav > ul > li{
        margin: 10px;
    }
    .title-description > h1{
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
    }
    .title-description > button{
        width: 190px;
        margin: 20px auto;
    }
    .banner > img{
        width: 100%;
    }
}





/* tablet of medium device media query style */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        width: 100%;
    }
    .title-description{
        width: 100%;
    }
    .banner > img{
        width: 100%;
    }
    
}